#head_in {
    background-color: #ddd;
}


/* 两个标题 */

#main {
    width: 78%;
}

#head2 {
    background-color: #f3f3f3;
    border-bottom: 1px solid #5fb878;
    text-align: center;
    margin-bottom: 15px;
}

#head2 a {
    margin: 5px 50px;
    margin-bottom: 0;
    padding: 5px;
    padding-bottom: 9px;
    display: inline-block;
    border-bottom: 3px solid transparent;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

#head2 a:hover {
    border-bottom-color: #5fb878;
    color: #5fb878;
    text-decoration: none;
}

#head2 a:nth-of-type(1) {
    color: #5fb878;
    border-bottom-color: #5fb878;
}


/* 所上传的书 */

#books_push,
#borrow .rows {
    background-color: #f3f3f3;
    margin-bottom: 15px;
    padding: 10px 15px;
}

#books_push img,
#borrow img {
    width: 120px;
    height: 150px;
}

#books_push div:nth-of-type(2),
#borrow .rows div:nth-of-type(2) {
    padding-left: 30px;
}

#books_push div:nth-of-type(3),
#borrow .rows div:nth-of-type(3) {
    text-align: center;
}

#books_push button,
#borrow button {
    background-color: #009a61;
    color: white;
    margin: 20px 0;
}

#books_push button:hover,
#borrow button:hover {
    background-color: #006741;
}


/* 所借阅的书 */

#borrow button {
    margin: 60px 0;
}

#borrow {
    display: none;
}


/* 弹框 */

#box {
    background-color: white;
    border: 1px solid #bbb;
    position: absolute;
    width: 400px;
    height: 365px;
    text-align: center;
    display: none;
    z-index: 2;
}

#box p {
    font-size: 15px;
    color: #555;
    margin-top: 0px;
    margin-bottom: 15px;
}

#box h3 {
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    background-color: #eee;
    border-bottom: 1px solid #bbb;
    margin: 0;
}

#box img {
    position: absolute;
    top: 3%;
    right: 3%;
    border: 1px solid #bbb;
}

#box input {
    padding: 3px;
}

#box p:nth-of-type(4) input {
    width: 35%;
}

#box p:nth-of-type(4) input:nth-of-type(1) {
    margin-right: 5px;
}

#box p:nth-of-type(1) {
    margin-top: 30px;
    margin-bottom: 10px;
}

#box button {
    padding: 5px 30px;
    background-color: #449d44;
    border-radius: 4px;
    border: 0;
    color: white;
    font-size: 19px;
}

#mask {
    background-color: #000;
    opacity: .3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
}