* {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}


/* header */

#hea {
    width: 100%;
    background-color: #f5f5f5;
}

#index_head {
    width: 75px;
    height: 75px;
    margin: 15px;
    margin-left: 100px;
}

#head {
    display: inline-block;
    margin-left: 15px;
    font-size: 22px;
    color: #555;
    font-weight: bold;
    letter-spacing: 1px;
}

#head:hover {
    text-decoration: none;
    color: black;
}

#index_input input {
    padding: 6px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    color: #555;
    margin-left: 50px;
    width: 40%;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: width 0.25s ease-in-out;
    -webkit-transition: width 0.25s ease-in-out;
    float: left;
}

#index_input button {
    display: inline;
    background-color: #009a61;
    color: white;
    text-decoration: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#index_input {
    display: inline-block;
    width: 50%;
}

#index_input input:focus {
    width: 75%;
    outline: 0;
}

#index_sign {
    display: inline-block;
    color: #444;
    font-size: 14px;
    padding: 5px 13px;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

#index_sign:hover {
    text-decoration: none;
    background-color: #F3F3F3;
    border-color: #009a61;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


/* 中间 */

#main {
    width: 78%;
    margin: 20px auto;
    opacity: .85;
}

#tag {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    background-color: #F3F3F3;
    text-align: center;
    margin-bottom: 20px;
}

#tag a {
    color: #666;
    padding: 8px 5px;
}

#tag a:hover {
    color: #222;
    text-decoration: none;
}

#tag #tag_all {
    color: #009a61;
}

#tag #tag_all:hover {
    background-color: #ddd;
    border-radius: 4px;
}


/* 中间内容 */

#left {
    padding: 0;
    color: black;
}

#left .rows {
    height: auto;
    padding: 10px 10px;
    opacity: 0.8;
    background-color: #F3F3F3;
    margin: 0;
    margin-bottom: 15px;
    border-left: 5px solid transparent;
}

#left .rows:hover {
    border-left-color: #009a61;
}

#left .book_img {
    padding-right: 0;
}

#left img {
    width: 120px;
    height: 150px;
    margin-left: 40px;
}

#left .book_info {
    margin: 0;
    padding-left: 0;
}

.book_info p {
    width: auto;
}

.book_info p:nth-of-type(1) {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.book_info p:nth-of-type(2) {
    text-indent: 2em;
    font-size: 15px;
    color: black;
}

.book_info p:nth-of-type(3) {
    text-align: right;
    margin-top: 30px;
}

.book_info p:nth-of-type(3) span {
    margin-left: 20px;
}

.book_info p:nth-of-type(3) span i {
    margin-right: 8px;
}


/* 分页 */

#index_pingination {
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
}

#index_pingination .pa_in a {
    background-color: #ddd;
}


/* footer */

footer {
    background-color: #f5f5f5;
    width: 100%;
}

footer .footer_head {
    font-size: 22px;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

footer a {
    color: #444;
}

footer a:hover {
    text-decoration: none;
    color: #009a61;
}

footer img {
    width: 50%;
}

footer .rows {
    padding: 20px 0 0 0;
}

footer .rows div {
    padding: 0 0 0 70px;
    height: 312px;
}

footer .rows div p i {
    margin-right: 10px;
}

footer #foot {
    background-color: #333;
    padding: 20px 0;
}

footer #foot p {
    text-align: center;
    color: #c2c2c2;
}

@media screen and (max-width:768px) {
    #hea img {
        height: 50px;
        width: 50px;
        margin: 15px;
    }
    #head {
        font-size: 20px;
    }
    #index_input {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #index_input input:focus {
        width: 63%;
    }
    #index_sign {
        right: 5%;
        top: 30%;
    }
}

@media screen and (max-width:426px) {
    footer .rows div {
        padding: 0 0 0 10px;
    }
}